@mixin vertical-list {
    @include display-flex-column;
    align-items: center;
}

@mixin horizontal-list {
    @include display-flex-row;
    align-items: center;
}

@mixin centered-list {
    @include horizontal-list;
    justify-content: center;
}

@mixin display-flex-row {
    display: flex;
    flex-direction: row;
}

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
}
